/*
==============
DEFAULT MOBILE
==============
*/

html, body{
    font-family: 'Lato', sans-serif !important;
  
}

p::selection{
    color: #484848;
    background-color: #bed630;
}

.wp-container{
    display: none;
}

.secao-1{
    background-color: #bfd730;
   /* min-height: 110vh;*/
}


.elemento-visivel{
    opacity: 1;
    z-index: 1;
}

.elemento-invisivel{
    opacity: 0;
    z-index: -1;
}

.secao-1 .container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    padding: 0 10px;
    /*margin-bottom: 5%;*/
    text-align: center;
}

.top-navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 10px;
    margin-bottom: 29px;
    width: 100%;
}

.logotipo{
    width: 50%;
    text-align: left;
    object-fit: contain;
}

.logotipo img{
    width: 89%;
    height: auto;
}

.top-navigation .container-menu-principal-mobile i{
  color: #fff; 
}

.top-navigation #menu-principal-mobile-btn{
    color: #fff;
    cursor: pointer;
}

.menu-principal-mobile320{
    position: fixed;
    top: 0 !important;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    background-color: #bed630;
    list-style: none;
    width: 100vw;
    height: 100vh;
    transition: all .3s ease;
    text-align: center;
    padding-top: 30%;
}

.menu-principal-mobile{
    position: fixed;
    top: 0;
    right: 0;
    padding: 0;
    background-color: #bed630;
    list-style: none;
    width: auto;
    height: 50vh;
    transition: all .3s ease;
    text-align: center;
    padding-top: 25%;
}

.menu-principal-mobile320 li{
    margin-bottom: 2em;
}

.menu-principal-mobile320 li a,.menu-principal-mobile li a{
    font-size: 25px;
    color: #000;
    text-transform: uppercase;
}

.fechar320-btn{
    position: absolute;
    font-size: 40px;
    top: 1em;
    right: 1em;
    cursor: pointer;
    color: #000;
}

.menu-visivel{
    opacity: 1;
    z-index: 2;
    top: 60px;
    right: 2px;
}

.menu-invisivel{
    top: 60px;
    right: 0;
    transform: translateX(100%);
    opacity: 0;
    z-index: -1;
}

.menu-principal{
    display: none;
}

.menu a.menu-whatsapp{
    border-radius: 30px;
    padding: 8px 15px;    
    cursor: pointer;
    background-color: #32ba46;
    color: #fff;
    font-size: 14px;
}
    
.menu a.menu-whatsapp:hover{
    background-color:#3edb55;
}

.menu a.menu-whatsapp::before{
    content: url(../img/whatsapp-logo.svg);
    width: 1em;
    height: 1em; 
    padding-right: 10px;
    vertical-align: sub;
}



.menu-principal li:first-child{
    margin-left: 0;
    color: green;
}

.menu-principal li:last-child{
    
}

.menu-principal a :last-child::before{
/*    content: '';*/
    width: 1em;
    height: 1em;    
}

.mockup{
    width: 100%;
    padding: 0 20px;
}

.mockup img{
    width: 100%;
    object-fit: cover;
}

.jumbo{
    width: 100%;
    padding: 0;
    text-align: center;
}

.jumbo h2{
    font-size: 35px;
    font-weight: bold;
    line-height: 1;
    width: 100%;
    height: auto;
    text-align: center;
    color: #fff;
    margin-bottom: 14px;
}

.jumbo p{
  width: 100%;
  height: auto;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  line-height: 1.31;
  color: #2a283e;
  text-transform: none;
}

.jumbo a{
    width: 90%;
    padding: 21px 58px;
    font-size: 15px;
    font-weight: bold;
    line-height: normal;
    border-radius: 50px;
    background-color:#0056ff;
    color: #fff;
    text-transform:uppercase;
    margin-top: 20px;
    margin-bottom: 56px;
}

.jumbo a:hover{
    background-color: #d7ec5c;
    color: #340c46;
}

.menu-inferior{
    display: none;
}

/*================SECAO-2================*/
.secao-2{
    background-color: #2b226d;;
    height: 100%;
    /*padding-top: 48px;*/
}

.secao-2 .container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    padding: 0 10px;
    padding-top: 55px;
    text-align: center;
}

.macbook-clay{
    width: 100%;
}

.macbook-clay img{
    width: 100%;
    object-fit: cover;
}

.secao-2 .jumbo h3{
    color: #fff;
    font-size: 12px;
    letter-spacing: 8px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 5px;
}

.secao-2 .jumbo p{
    color: #fff;
    line-height: 1.31;
    font-weight: normal;
}

.secao-2 .jumbo a{
    background-color: #bfd730;
    margin-bottom: 35px;
    color: #2b226d;
    border: 0;
}

.secao-2 .oque-fazemos{
    width: 100%;
    text-align: center;
}

.secao-2 .oque-fazemos h2{
    font-size: 20px;
    font-weight: 900;
    color: #333539;
    text-transform: uppercase;
}

.secao-2 .oque-fazemos p{
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    color: #333539;
}

.secao-2 .container-servicos{
    width: 100%;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    
}

.secao-2 .container-servicos .conteudo-servicos{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    margin-top: 40px;
    /*margin-left: 17px;*/
}


.secao-2 .container-servicos .conteudo-servicos:nth-child(4n+1){
    margin-left: 0;
}

.secao-2 .container-servicos .conteudo-servicos:last-child{
    /*margin-top: 108px;*/
    margin-bottom: 40px;
}

.secao-2 .container-servicos .conteudo-servicos h3{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
    color: #333539;
}

.secao-2 .container-servicos .conteudo-servicos p{
    font-size: 14px;
    margin-top: 25px;
    margin-bottom: 0;
    text-align: center;
    color: #909090;
}

/*================SECAO-3================*/

.secao-3{
    background-color: #fff; 
    height: 100%;
}

.secao-3 .container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    padding: 0 10px;
    padding-top: 28px;
    text-align: center;
} 

.secao-3 .cases{
   
}

.secao-3 .cases h2{
    margin: 0;
    font-size: 50px;
    font-weight: bold;
    line-height: 1;
    color: #2a283e;;
    text-align: center;
}

.secao-3 .cases p{
    font-size: 16px;
    font-weight: normal;
    line-height: 1.75;
    text-align: center;
    color: #333539;
    padding-top: 5px;
    margin-bottom: 19px;
}

.secao-3 .container-cases{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 40px;
}

.secao-3 .container-cases .conteudo-cases{
    width: 100%;
    margin: 0;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: all .5s ease;
    cursor: pointer;
    animation-fill-mode: backwards;
}

.secao-3 .container-cases .conteudo-cases:first-child{
    margin-left: 0;
}

.secao-3 .container-cases .conteudo-cases:last-child{
    margin-bottom: 40px;
}

.secao-3 .container-cases .conteudo-cases:hover{
/*    transform: scale(1.3);    */
    
}
.secao-3 .container-cases .conteudo-cases img{
    width: 100%;
}

.secao-3 .container-cases .conteudo-cases p{
    margin: 0;
    font-size: 15px;
    font-weight: normal;
    text-align: center;
    color: #2b2b2b;
    width: 80%;
    margin-top: 14px;
}

.cases-slide-show{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.8);
    transition: all .5s ease;
}

.cases-slide-show .container-slideshow{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cases-slide-show .slides{
    width: 70vw;
/*    height: 70vw;*/
}

.cases-slide-show .slides .slide-titulo{
    color: #fff;
    text-align: center;
}

.cases-slide-show .slides .slide-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: all .3s ease;
}

.cases-slide-show .slides .slide-legenda{
    color: #fff;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-top: 1em;
}

.cases-slide-show .fechar-btn{
    font-size: 18px;
    position: absolute;
    top: 2em;
    right: 5%;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 1em;
    color: #fff;
    cursor: pointer;
}

.cases-slide-show .fechar-btn::after{
    content: url('../img/close.svg');
    width: 1.5em;
    height: 1.5em;
    font-size: 1.5em;
    padding-left: .5em;
    vertical-align: middle;
}

.cases-slide-show .container-slideshow 
.slide-posterior-btn,
.slide-anterior-btn{
    cursor: pointer;
    color: #fff;
    margin: 2em;
}


/*================SECAO-4================*/

.secao-4{
    background-color: #3a3c3e;
    height: 100%;
}

.secao-4 .container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    padding: 0 10px;
    padding-top: 29px;
    text-align: center;
} 

.fotografia{
    margin-bottom: 22px;
}

.fotografia img{
    width: 100%;
    object-fit: contain;
    max-width: 688px;
}

.secao-4 .jumbo h3{
    margin: 0;
    margin-bottom: 11px;
    font-size: 12px;
    font-weight: normal;
    line-height: normal;
    letter-spacing: 8px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

.secao-4 .jumbo h2{
    margin: 0;
}

.secao-4 .jumbo p{
    margin-top: 22px;
    font-size: 16px;
    line-height: 1.44;
    color: #fff;
    text-align: center;
}

.secao-4 .jumbo a{
    background-color: #bfd730;
    color: #2b226d;
    border: 0;
}
/*================SECAO-5================*/

.secao-5{
    height: 100%;
    background-color: #bfd730;
}

.secao-5 .container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    padding-top: 37px;
    text-align: center;
} 

.insta{
    margin: 0px;
}

.insta .insta-img{
    width: 100%;
    object-fit: contain;
    max-width: 688px;
}

.secao-5 .jumbo{
    padding: 0 20px;
}
.secao-5 .jumbo h3{
    margin: 0;
    margin-bottom: 12px;
    font-size: 12px;
    font-weight: normal;
    line-height: normal;
    letter-spacing: 8px;
    text-align: center;
    color: #2a283e;
    text-transform: uppercase;
}

.secao-5 .jumbo h2{
    margin: 0;
    font-size: 35px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
}

.secao-5 .jumbo p{
    margin-top: 13px;
    font-size: 16px;
    line-height: 1.44;
    color: #2a283e;
    text-align: center;
}

.secao-5 .jumbo a{
    background-color: #0056ff;
    color: #fff;
    border: 0;
}
/*================SECAO-6================*/

.secao-6{
    background-color: #333539;
}

.secao-6 .container{
/*    width: 900px;*/
}

.secao-6 .contatos{
    width: 100%;
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.secao-6 .contatos h2{
    font-size: 25px;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.mensagens-retorno{
    position: relative;
}

.alert{
    width: 50%;
    font-size: 15px;
    height: auto;
    display: block;
    position: absolute;
    top: 1;
    left: 25%;
    transition: opacity .3s ease;
}

.alert-visivel{
    opacity: 1;
}

.alert-invisivel{
    opacity: 0;
}

.mensagens-retorno #flash div.alert{
    z-index: 99;
}

.close-alert{
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
}

.secao-6 .contatos p{
    font-size: 22px;
    font-weight: 300;
    text-align: center;
    color: #fff;
}

.secao-6 .contatos .contatos-telefones{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.secao-6 .contatos h6{
    width: 100%;
    font-size: 15px;
    color: #fff;
    line-height: 1.53;
    display: inline-block;
/*    margin-left: 55px;*/
    margin-top: 1%;
}

.secao-6 .contatos h6.whatsapp{
    margin-left: 0;
}

.secao-6 .contatos h6.whatsapp:before{
    content: url('../img/whatsapp-logo.svg');
    width: 1em;
    height: 1em;
    padding-right: 10px;
    vertical-align: sub;
}

.secao-6 .contatos h6.email-contato:before{
    content: url('../img/mail-logo.svg');
    width: 1em;
    height: 1em;
    padding-right: 10px;
    vertical-align: sub;
}

.secao-6 .contatos h6.telefones:before{
    content: url('../img/telefone-logo.svg');
    width: 1em;
    height: 1em;
    padding-right: 10px;
    vertical-align: sub;
}

.secao-6 form#formulario-contato{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    flex-wrap: wrap;
}

.secao-6 form#formulario-contato input{
    width: 100%;
    color: #000;
    border: solid 1px #dfdfdf;
    box-shadow: 0 0 21px 0 rgba(0, 0, 0, 0.08);
    margin-bottom: 5%;
    height: 1em;
    font-size: 15px;
    padding: 5%;
    outline: none;
    transition: all .3s ease-in-out;
}

.secao-6 form#formulario-contato .select-projeto{
    height: 2.5em;
}

.secao-6 form#formulario-contato input:focus{
    box-shadow: 0 0 5px rgba(190, 214, 48, 1);
    border: 1px solid rgba(190, 214, 48, 1);
}

.secao-6 form#formulario-contato input:invalid{
    border: 2px solid red;
}
.secao-6 form#formulario-contato textarea{
    width: 100%;
    height: 10em;
    margin-top: 5%;
    box-shadow: 0 0 21px 0 rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
    border: solid 1px #dfdfdf;
    margin-bottom: 5%;
    font-size: 15px;
}

.secao-6 form#formulario-contato #contato-form-btn{
    margin-bottom: 30px;
    border: 0;
    border-radius: 50px;
    background-color: #bed630;
    box-shadow: 0 0 21px 0 rgba(0, 0, 0, 0.08);
    color: #340c46;
    font-weight: bold;
    font-size: 12px;
    padding: 21px 47px;
    cursor: pointer; 
    text-transform: uppercase;
}

[data-tip]{
    position: relative;
    width: 100%;
}

[data-tip]::before{
    content: attr(data-tip);
    display: none;
    color: #333539;
    position: absolute;
    transform: translateY(-110%);
    font-size: 1em;
    font-weight: bold;
    width: 50%;
    background-color: #bed630;
    padding: 10px;
}

[data-tip]:hover::before{
    display: block;
}



footer{
    background-color: #26282b;
    height: 70px;
    color: #fff;
    width: 100%;
    display: flex !important;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

footer img{
    width: 25%;
    padding-left: 5px;
}

footer address{
    margin: 0;
    width: 50%;
    display: inline-block;
    text-align: center;
}

footer address p{
    display: inline-block;
    text-align: center;
    font-size: 10px;
}

footer .redes-sociais-footer{
    width: 25%;
    margin: 0;
    display: inline-block;
    text-align: center;
}

footer .redes-sociais-footer a{
    color: #fff;
    margin-left: 8px;
}

footer .redes-sociais-footer a:first-child{
    margin-left: 0;
}

footer .redes-sociais-footer a:hover{
    color: #bed630;
}


@media (min-width: 540px){ 

}

/*
==============
768px
==============
*/

@media (min-width: 768px){ 
    .secao-1{
        min-height: 0;
    }
    
    .container{
        width: 100%;
    }
    
    .logotipo img {
        width: 325px;
        height: auto;
    }
    
    .top-navigation .container-menu-principal-mobile i{
        font-size: 30px;
    }
    
    .secao-1 .container, .secao-2 .container, .secao-3 .container,
    .secao-4 .container,
    .secao-5 .container,
    .secao-6 .container{
        width: 768px;
        margin: auto;
    }
    
}

/*
==============
1024px
==============
*/

@media (min-width: 1024px){ 
    
    .top-navigation .container-menu-principal-mobile i{
        font-size: 35px;
    }
    
}


/*
==============
FULL DESKTOP 1440px
==============
*/

@media (min-width:1440px){
    
    .top-navigation{
        padding: 32px 90px;
    }
    .top-navigation .container-menu-principal-mobile{
        display: none;
    }
    
    .logotipo{
        width: 35%;
    }
    
    .logotipo img{
        width: 186px;
        height: auto;
    }
    
    .menu-principal{
        display: block;
    }
    
    .menu-principal li{
        text-align: center;
        margin-left: 25px;
    }

    .menu-principal li a{
        font-size: 15px;
        font-weight: normal;
        color: #fff;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
    }

    .secao-1{
        width: 100%;
    }

    .secao-1 .container, .secao-2 .container, .secao-3 .container, .secao-4 .container, .secao-5 .container, .secao-6 .container {
        padding: 0;
        height: 100%;
        width: 1440px !important;
        margin: auto;
    }
    
    .secao-1 .conteudo-big{
        display: flex;
        flex-direction: row-reverse;
        padding: 0 77px 0 90px;
        justify-content: space-between;
        align-items: center;
    }
    
    .jumbo{
        padding: 0;
        text-align: left;
        width: 428px;
        height: 460px;
    }
    
    .jumbo h2, .jumbo p{
        text-align: left;
    }
    
    .jumbo h2{
        font-size: 50px;
        margin-bottom: 23px;
    }
    
    .jumbo p{
        font-size: 23px;
        line-height: 1.22;
        color: #2a283e;
    }
    
    .jumbo a{
        width: 260px;
        height: 60px;
    }
    
    .mockup{
        width: 783px;
    }
    
    .menu-inferior{
        width: 100%;
        text-align: center;
        color: #fff;
        font-size: 30px;
        display: block;
        margin-top: 40px;
        padding: 0 70px 0 90px;
    }


    @keyframes btn-proximo-anim{
        0%{
            transform: translateY(0);
        }
        50%{
            transform: translateY(-100%);
        }
        100%{
            transform: translateY(0);
        }
    }

    .menu-inferior, .menu-inferior .btn-proximo{
        cursor: pointer;
/*        width: 22px;*/
    }

    .menu-inferior:hover .btn-proximo{
        animation: 1s infinite ease-out btn-proximo-anim;
    }

    .wp-container{
        display: block;
        position: fixed;
        bottom: 10px;
        right: 25px;
        z-index: 10;
    }
      .wp-bubble{
        content: 'Estamos no Whatsapp!';
        color: #909090;
        line-height: 1.07;
        padding: 15px 10px 15px 10px;
        font-size: 15px;
        background-color: #fff;
        border: 1px solid #979797;
        border-radius: 5px;
        box-shadow: 5px 7px 11px 0 rgba(0, 0, 0, 0.4);
        float: right;
        margin-right: 15px;
        position: relative;
        top: 10px;
    }
    
    .wp-bubble::after{
        border-left: 12px solid #fff;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        content: "";
        position: absolute;
        right: -12px;
        top: 16px;
    }
    
    .wp-logo{
        border: 20px solid #2aa71b;
        border-radius: 50px;
        background-color: #2aa71b;
        box-shadow: 5px 7px 11px 0 rgba(0, 0, 0, 0.4);
        transform: translateY(-10%);
        display: inline-block;
        float: right;
    }
    
    .secao-2{
        height: 850px;
        width: 100%;
    }

    .secao-2 .container{
        padding-top: 165px;
    }

    .secao-2 .conteudo-big{
        display: flex;
        /*padding: 0 77px 0 90px;*/
        justify-content: flex-start;
    }

    .secao-2 .jumbo{
        width: 490px;
    }

    .secao-2 .jumbo h3{
        text-align: left;
    }

    .macbook-clay{
        width: 815px;
    }

    .macbook-clay img{
        width: 900px;
        transform: translateX(-15%);
    }
    
    .secao-3 .container{
        padding-top: 49px;
    }
    
    .secao-3 .cases p{
        font-size: 23px;
        line-height: 1.22;
    }
    
    .secao-3 .container-cases{
        padding: 0 90px;
        justify-content: space-around;
    }
    
    .secao-3 .container-cases .conteudo-cases{
        width: 49%;
    }
    
    .secao-4{
        height: 890px;
    }
    
    .secao-4 .conteudo-big{
        display: flex;
        flex-direction: row-reverse;
        padding: 0 120px 0 90px;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
    
    .secao-4 .jumbo{
        width: 400px;
    }
    
    .secao-4 .jumbo h3,.secao-4 .jumbo h2, .secao-4 .jumbo p,.secao-4 .jumbo a{
        text-align: left;
    }
    
    .secao-4 .jumbo p{
        font-size: 23px;
        line-height: 1.22;
    }
    
    .secao-4 .jumbo a{
        margin-top: 40px;
    }
    
    .secao-4 .fotografia img{
        width: 725px;
    }
    
    .secao-5{
        height: 769px;
        max-height: 769px;
        padding-top: 66px;
    }
    
    .secao-5 .conteudo-big{
        display: flex;
        flex-direction: row-reverse;
        padding: 0 120px 0 0;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
    
    .secao-5 .jumbo{
        width: 521px;
    }
    
    .insta{
        position: relative;
    }
    
    .heart1{
        position: absolute;
        top: -40px;
        right: 10px;
        width: 20%;
    }
    
    .heart2{
        position: absolute;
        top: 330px;
        right: -30px;
        width: 20%;
    }
    
    .secao-5 .jumbo h3,.secao-5 .jumbo h2, .secao-5 .jumbo p,.secao-5 .jumbo a{
        text-align: left;
    }
    
    .secao-5 .jumbo h3{
        color: #fff;    
    }
    
    .secao-5 .jumbo h2{
        font-size: 50px;  
    }
    
    .secao-5 .jumbo p{
        font-size: 23px;
        line-height: 1.22;
    }
    
    .secao-5 .jumbo a{
        margin-top: 20px;
    }
    
    
}

/*
==============
FULL DESKTOP 1920px
==============
*/

@media (min-width:1920px){
    .mockup{
        width: 1200px;
    }
       
}
